


.tip {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 90%;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 90%;
}

.item.item-trns {
	border-color: rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0);
	color: white; 
}


.item-text-center
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100%;
}

.maintext p {
    font-size: 105%;
    color: #333333;
    line-height: 25px;
}

.maintext a {
    font-size: 105%;
    color: #B70071;
    line-height: 25px;
    font-weight: 600;
}

.maintext h1 {
    font-size: 100%;
}
.maintext h2 {
    font-size: 15px;
}
.maintext h3 {
    font-size: 15px;
}
.maintext h4 {
    font-size: 15px;
}
.maintext h5 {
    font-size: 15px;
}

.bar-header {
    border: 0px !important;
    border-bottom-color: #fff !important;
    background-image: none;
    border-bottom: none;
}

.postimg {
	
	border: 30px;
	border-color: #B70071;
}


@font-face {
    font-family: 'AndadaRegular';
    src: url('fonts/AndadaRegular.eot');
    src: url('fonts/AndadaRegular.eot') format('embedded-opentype'),
         url('fonts/AndadaRegular.woff2') format('woff2'),
         url('fonts/AndadaRegular.woff') format('woff'),
         url('fonts/AndadaRegular.ttf') format('truetype'),
         url('fonts/AndadaRegular.svg#AndadaRegular') format('svg');
}



